body {
    margin: 0;
}
p {
    margin: 0;
}
li {
    list-style: none;
}
ul {
    padding-right: 1rem;
}
.container {
    display: grid;
    grid-template-areas: 'header' 'content';
}
.header-div {
    border-bottom: 2px solid green;
    .header {

        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-title {
            font-size: 2rem;
            align-self: center;
        }
    }
}
.content {
    display: grid;
    grid-template: auto / 2fr 5fr;
    .navbar {
        min-height: 100vh;
        margin: 10px;
        padding: 10px;
        border-right: 1px solid black;
        p {
            font-size: 2rem;
        }
        .projects {
            .projects-title {
                display: flex;
                justify-content: baseline;
                gap: 10px;
                align-items: center;
                
            }
        }
    }
    .tasks {
        padding: 40px 40px 0 40px;
        .tasks-title {
            font-size: 4rem;
            padding: 30px;
            margin-right: 30px;
            background-color: green;
            color: white;
        }
        .tasks-list {
            padding-top: 30px;
            margin-right: 30px;
            li {
                display: flex;
                align-items: flex-start;
                height: auto;
                padding: 0;
                padding-left : 5px;
                margin-bottom: 5px;
                border: solid 1.5px black;
            }
        }
        .unchecked {
            width: 13px;
            height: 13px;
            border: solid 2px black;
            border-radius: 50%;
            margin-right: 8px;
            margin-top: 10px;
            flex-shrink: 0;
        }
        .checked {

        }
    }
}