body {
    margin: 0;
}
p {
    margin: 0;
}
li {
    list-style: none;
}
ul {
    padding-right: 1rem;
}
.container {
    display: grid;
    grid-template-areas: 'header' 'content';
}
.header-div {
    border-bottom: 2px solid green;
    .header {

        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-title {
            font-size: 2rem;
            align-self: center;
        }
    }
}
.content {
    display: grid;
    grid-template: auto / auto 5fr;
    .navbar {
        min-height: 100vh;
        margin: 10px;
        padding: 10px;
        border-right: 1px solid black;
        p {
            font-size: 2rem;
        }
        .projects {
            .projects-title {
                display: flex;
                justify-content: baseline;
                gap: 10px;
                align-items: center;
                padding-bottom: 10px;
            }
            .projects-form {
                padding-top: 10px;
                form {
                    ul {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 5px;
                        padding-left: 1rem;
                        li {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;
                        }
                        .error {
                            width: auto;
                            padding: 0;
                        
                            font-size: 80%;
                            color: white;
                            background-color: #900;
                            border-radius: 0 0 5px 5px;
                        
                            box-sizing: border-box;
                        }
                        .error-active {
                            padding: 0.3rem;
                        }
                    }
                }
            }
            .projects-list {
                padding-top: 20px;
                display: grid;
                row-gap: 20px;
                li {
                    font-size: 1.5rem;
                }
                li:hover {
                    border-bottom: 1px solid black;
                    cursor: pointer;
                }
                li.selected {
                    border-bottom: 1px solid black;
                }
            }
        }
    }
    .tasks {
        padding: 40px 40px 0 40px;
        .tasks-title {
            font-size: 4rem;
            padding: 30px;
            margin-right: 30px;
            background-color: green;
            color: white;
        }
        .tasks-list {
            padding-top: 30px;
            margin-right: 30px;
            ul {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
            li {
                display: flex;
                column-gap: 10px;
                align-items: center;
                justify-content: center;
                .task-edit {
                    svg {
                        width: 15px;
                        height: 20px;
                    }
                    &:hover {
                        svg {
                            width: 30px;
                            height: 40px;
                        }   
                    }
                }
                .task-item {
                    flex: 1 1 auto;
                    display: flex;
                    align-items: flex-start;
                    height: auto;
                    padding: 0;
                    padding-left : 5px;
                    border: solid 1.5px black;
                    border-radius: 5px;
                    &.done {
                        border: solid 3px green;
                        background-color: lightgreen;
                        .task-title, .task-details {
                            text-decoration: line-through;
                        }
                    }
                    .done-check-box{
                        width: 13px;
                        height: 13px;
                        border: solid 2px black;
                        border-radius: 50%;
                        margin-right: 8px;
                        margin-top: 10px;
                        flex-shrink: 0;
                        &.checked {
                            border: solid 2px green;
                        }
                    }
                    .list-details {
                        flex: 1 1 auto;
                        * {
                            overflow: scroll;
                        }
                    }
                    .task-date {
                        align-self: center;
                        padding-right: 10px;
                    }
                    .task-edit-field {
                        ul {
                            padding: 10px;
                            display: grid;
                            grid-template: 1fr 1fr 1fr / 1fr;
                            li {
                                display: grid;
                                grid-template: auto / 1fr 1fr;
                            }
                            li:last-child {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
                .task-delete {
                    svg {
                        width: 20px;
                        height: 30px;
                    }
                    &:hover {
                        svg {
                            width: 30px;
                            height: 60px;
                        }   
                    }
                }
            }
        }
        .add-tasks {
            margin-top: 10px;
            padding-top: 0;
            .task-field {
                ul {
                    display: flex;
                    flex-direction: column;
                    li {
                        display: flex;
                        flex-direction: column;
                        &.task-form-buttons {
                            flex-direction: row;
                        }
                    }
                }
            }
        }

    }
}